{% extends "users/basic.html" %}
{% block content %}
    <h2>Booking Confirmation</h2>
    
    <p><strong>Seats Booked:</strong> 
        {% if selected_seats %}
            {{ selected_seats|join:", " }}
        {% else %}
            No seats selected
        {% endif %}
    </p>

    <p><strong>Theater:</strong> {{ theater.name }}</p>
    <p><strong>Show Time:</strong> 7 p.m.</p>
    <p><strong>Total Amount Paid:</strong> ₹{{ total_price }}</p>
    <p>A confirmation email has been sent to {{ email }}.</p>

{% endblock content %}