{% extends "users/basic.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class="container">
    <h2>Forgot Password</h2>
    <form method="POST">
        {% csrf_token %}
        
       
        <div class="mb-3">
            <label>Enter your email:</label>
            <div class="input-group">
                <input type="email" name="email" class="form-control" id="email" required>
                
            </div>
        </div>

        <button type="submit" class="btn btn-warning">Send Reset Instructions</button>
    </form>
</div>


{% endblock %}
