{% extends "users/basic.html" %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h5 class="modal-title">Change Password</h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary text-white">Change Password</button>
                        <p><a href="{% url 'login' %}" class="btn btn-primary text-white">Log in again</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
